@page "/admin"


@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


@model Amazon.Pages.Admin.IndexModel
@{
}

<!DOCTYPEHTML>

<html>
    <head>

        <title>Book List Admin Page</title>
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <base href="/" />

    </head>
    <body>

        <component type="typeof(Amazon.Pages.Admin.Routed)" render-mode="Server" />
        <script src="/_framework/blazor.server.js"></script>

    </body>
</html>


</!DOCTYPEHTML>