@page
@model Amazon.Pages.ConfirmationModel
@{
}

<div class="text-center">
    <h2>
        Your order has been completed.
    </h2>
    <a class="btn btn-primary" asp-controller="Home">Return Back to Main Page</a>
</div>
